* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.container {
    text-align: center;
}

.container #img-homepage {
    width: 75%;
    height: 75%;
    margin-top: 101px;
    margin-bottom: 55px;
} 

.container #title {
    margin-bottom: 0.32cm;
}
.container #menu {
    display: flex;
    justify-content: center;
}

.container #menu #menu_foto {
    list-style-type: none;
}

.container #menu #menu_desenho, 
.container #menu #menu_sobre {
    margin-left: 5vh;
}

.container #menu a {
    color: black;
    text-decoration: none;
}